body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #b1dfdf;
}
img{
  width: 30%;
  height: 30%;
  border-radius: 20px;
}
.login-container {  
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 350px;
  text-align: center;
}

.the-form label {
  font-size: 14px;
  color: #333333;
  text-align: left;
  display: block;
  margin-bottom: 6px;
}

.the-form input[type="email"],
.the-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  color: #333333;
  transition: border-color 0.3s ease;
}

.the-form input[type="email"]:focus,
.the-form input[type="password"]:focus {
  border-color: #3498db;
}

.the-form input[type="submit"] {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.the-form input[type="submit"]:hover {
  background-color: #2980b9;
}

.form-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.form-footer a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

.form-footer a:hover {
  color: #2980b9;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  text-align: center;
}

.project {
  width: calc(150px);
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background-color: #f4f4f4;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project.dragging {
  border: 2px dashed #007bff;
  transform: scale(1.05);
  box-shadow: none;
}

.add-project-btn {
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
  position: relative;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.back {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.project-info {
  position: absolute;
  top: 0px;
  left: 20px;
  color: #333333;
  
}

.projectName {
  font-size: 36px;
  
}

.projectDescription {
  font-size: 78px;
  top: 20px;
  left: 20px;
}

.add-board-btn {
  position: absolute;
  top: 70px;
  left: 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.board-container {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}

.board {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 10px;
  background-color: var(--board-color) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  overflow-y: auto;
}



.board.dragging {
  border: 2px dashed #007bff;
  transform: scale(1.05);
  box-shadow: none;
}


.cards-container {
  display: block;
  margin-top: 10px;
}


.card {
  height: 52px;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  width: calc(100% - 12px);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  background-color: #f4f4f4;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#cardPopup {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .project {
    width: 100%;
  }
}
